{% for city in cities %}
    <tr class = "border-b border-blue-gray-200">
        <td class="py-3 px-4">{{ city.city }}</td>
        <td class="py-3 px-4">{{ city.state }}</td>
        <td class="py-3 px-4">{{ city.country }}</td>
        <td class="py-3 px-4  ">
            <form action='/weather/{{city.city}}' method='get'>
                <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="submit">
                    Get Weather Report</button>
            </form>
        </td>
    </tr>
{% endfor %}